body{background-image:url(Pictures/nature3.jpg)}
body{
		font-family: 'Merienda', cursive;
	}

.header ul li{
	display: inline-block;
	
	height:20px;
	background-color: grey;
	border: 3px solid green;
	border-radius: 10px;
	text-decoration: bold;
	color: white;
}

.header ul li:hover{
	background-color: #dbdbdb
}
.footer{text-align: center;}